<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      Vue App
    </title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.19/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <!-- <div>
        入力中： {{ inputtingData }}
      </div> -->
      <!-- <div>
        入力されたデータ： {{ inputData }}
      </div> -->
      <p>
        TODOの数：{{ todoList.length }}
      </p>
      <ul class="todo-list">
        <m-todo-item v-for="todo in todoList"
                    :key="todo.id"
                    :todo-data="todo"
        ></m-todo-item>

        <!-- <li class="todo"
            v-for="todo in todoList"
            :key="todo.id"
        >
          <p class="todo-content">
            {{ todo.content }}
          </p>
          <p class="todo-created-at">
            {{ todo.createdAt | formatDatetime }}
          </p>
        </li> -->
      </ul>
      <div>
        <input type="text"
               v-model="inputtingData"
        >
        <a-button :disabled="isDisabled"
                  :class="classEnabled"
                  @click-event="applyData"
        >
          {{ label }}
        </a-button>
        <!-- <button :disabled="isDisabled"
                :class="classEnabled"
                @click="applyData"
        >
          {{ label }}
        </button> -->
        <!-- <button v-if="isDisabled"> -->
        <!-- <button v-show="isDisabled"
                v-on:click="changeDisabled"
        >
          解除
        </button> -->
      </div>
    </div>

    <script>
      var formatter = {
        filters: {
          formatDatetime: function(value) {
            value = parseInt(value);

            var _format2digit = function(num) {
              return ('0' + num).slice(-2);
            }

            var d = new Date(value);

            var year  = d.getFullYear();
            var month = _format2digit(d.getMonth() + 1);
            var date  = _format2digit(d.getDate());
            var hour  = _format2digit(d.getHours());
            var min   = _format2digit(d.getMinutes());
            var sec   = _format2digit(d.getSeconds());

            return [year, month, date].join('/') + ' ' + [hour, min, sec].join(':');
          }
        }
      };

      Vue.component(
        'a-button',
        {
          template: (function() {/*
            <button @click="clickButton">
              <slot>
                ボタン
              </slot>
            </button>
          */}).toString().split('\n').slice(1, -1).join('\n'),
          methods: {
            clickButton: function(event) {
              this.$emit('click-event', event.target);
            }
          }
        }
      );

      Vue.component(
        'm-todo-item',
        {
          template: (function() {/*
            <li class="todo">
              <p class="todo-content">
                {{ todoData.content }}
              </p>
              <p class="todo-created-at">
                {{ todoData.createdAt | formatDatetime }}
              </p>
            </li>
          */}).toString().split('\n').slice(1, -1).join('\n'),
          props: {
            todoData: {
              type: Object
            },
          },
          mixins: [
            formatter
          ]
        }
      );

      new Vue({
        data: function() {
          return {
            // label: 'クリック！',
            isDisabled: false,
            inputtingData: '',
            inputData: '',
            todoList: [
              {
                id: 2,
                content: 'TODO2',
                createdAt: 1544498382547
              },
              {
                id: 1,
                content: 'TODO1',
                createdAt: 1544498306379
              },
            ]
          }
        },
        computed: {
          label: function() {
            if (this.isDisabled) {
              // return 'クリックできません';
              return '送信中';
            }

            // return 'クリック！';
            return 'データを登録';
          },
          classEnabled: function() {
            return {
              enabled: !this.isDisabled,
              disabled: this.isDisabled
            }
          }
        },
        created: function() {
          console.log('created');
          console.log(this.todoList);
          console.log(this.$el);
        },
        mounted: function() {
          console.log('mounted');
          console.log(this.$el);

          var newElem = document.createElement('div');
          newElem.textContent = '（追加されたテキスト）';
          this.$el.insertBefore(
            newElem,
            this.$el.firstChild
          );
        },
        methods: {
          changeDisabled: function() {
            this.isDisabled = !this.isDisabled;
          },
          applyData: function(value) {
            console.log(value)

            var self = this;
            var waitingTime = 500;

            self.changeDisabled();

            setTimeout(function() {
              // self.inputData = self.inputtingData;

              var todo = {
                id: self.todoList.length + 1,
                content: self.inputtingData,
                createdAt: Date.now()
              };

              self.todoList.unshift(todo);
              self.inputtingData = '';
              self.changeDisabled();
            }, waitingTime);
          },
        }
      }).$mount('#app');
    </script>

    <style>
      .enabled {
        font-weight: bold;
      }
      .disabled {
        color: #666;
      }
      .todo-list {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      .todo {
        border: 1px solid #456;
        margin: 8px 0 0;
        padding: 8px;
        background: #def;
      }
      .todo-content {
        margin: 0;
      }
      .todo-created-at {
        margin: 8px 0 0;
        color: #666;
        font-size: .8rem;
      }
    </style>
  </body>
</html>
